################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api-inventorymisdss/.vs/api-inventorymisdss/FileContentIndex
/api-inventorymisdss/.vs/api-inventorymisdss/v17/.suo
